.venv
backend/__pycache__
frontend/__pycache__

backend/.venv
frontend/.venv
backend/venv
frontend/venv

backend/.env
frontend/.env

.env
backend/portfiolo.db

# node modules
node_modules/


181-Sajjad Ahmad.jpeg

profile.jfif

README.md
information.txt
requirements.txt

backend/requirements.txt

